@model IEnumerable<TicTacToe.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Новая игра", "Create", "Game")

<h2>Список игр</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.PlayerName)</th>
        <th>@Html.DisplayNameFor(model => model.PlayerTeamId)</th>
        <th>@Html.DisplayNameFor(model => model.LevelId)</th>
        <th>@Html.DisplayNameFor(model => model.WhoWin)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.Id)</td>
        <td> @Html.DisplayFor(modelItem => item.PlayerName)</td>          
        <td>@item.PlayerTeamName</td> 
        <td>@item.Level.LevelName</td>        
        <td>@Html.DisplayFor(modelItem => item.WhoWin)</td>
        <td>@Html.ActionLink("История ходов", "Details", new { id=item.Id })</td>
    </tr>
}
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
